#canvas {
  width: 900px;
  height: 600px;
  border: 1px solid rgb(32, 17, 241);
  border-radius: 5px;

  margin-left: 350px;
}

#start-button {
  font-size: 20px;
  background-color: rgb(233, 36, 144);
  color: #fff;
  border: 10px;
  border-radius: 6px;
  width: 200px;
  margin-left: 680px;
  margin-top: 50px;
}

#game-board {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}